.header{
    margin-top:5%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: teal;
}
.container{
    margin-top: 1%;
    display: flex;
    width: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    /*background-color: darkblue;*/
}
#bt1{
    margin-top: 2%;
    position: absolute;
    top: 29%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#bt2{
    margin-top: 2%;
    position: absolute;
    top: 29%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#no{
    margin-top: 5%;
}
#date{
    margin-top: 5%;
}