
.header{
    justify-content: center;
    display: flex;
}

#no{
    justify-content: center;
    display: flex;
}
.footer{
    margin-top: 5px;
    justify-content: center;
    display: flex;
}
#bt2{
    margin-left: 5px;
    text-decoration: none;
    color: black;
}
#ReturnOpt{
    margin-top: 5px;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: black;
}